[database.postgres]
hostname = <hostname>
dbname = <dbname>
port = <port>
username = <username>
password = <password>

[server]
host = 0.0.0.0
port = 8080

[jwt]
secret = <secret_string_only_letters_and_numbers>